# dependencies
node_modules/

serviceAccountKey.json

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# build
dist/
build/

# logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Vite
.vite/

# coverage
coverage/

# misc
.idea/
.vscode/